// app.component.ts
import {Component} from '@angular/core';
import {
  ChatComponent
} from './components/chat.component';

@Component({
  selector: 'app',
  template: `
    <div class="app">
      <main>
        <chat></chat>
      </main>
    </div>
  `,
  directives: [
    ChatComponent
  ]
})
export class AppComponent {
  constructor() {
    this.message = 'Hello world';
  }
  ngOnInit() {
    console.log('Component initialised');
  }
}