// chat.component.ts
import {
  Component,
  ViewEncapsulation
} from '@angular/core';
import {
  ChatProfileComponent
} from './components/chat-profile.component';
import {
  ChatSearchComponent
} from './components/chat-search.component';
import {
  ChatListComponent
} from './components/chat-list.component';

@Component({
  selector: 'chat',
  encapsulation: ViewEncapsulation.Native,
  styles: [`
    .chat {
      background: blue; padding: 15px;
    }
  `],
  template: `
    <div class="chat">
      <chat-profile 
        [user]="chatUser">
      </chat-profile>
      <chat-search
        [term]="chatTerm">
      </chat-search>
      <chat-list
        [friends]="chatFriends">
      </chat-list>
    </div>
  `,
  directives: [
    ChatProfileComponent,
    ChatSearchComponent,
    ChatListComponent
  ]
})
export class ChatComponent {
  constructor() {
    this.chatUser = {
      name: 'Todd Motto',
      online: true
    };
    this.chatTerm = '';
    this.chatFriends = [{...}, {...}];
  }
  ngOnInit() {
    console.log('Component initialised');
  }
}